.mainhome {
  display: grid;
  grid-gap: 1rem;
  margin: 1rem;
  margin-left:1.5rem;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding-bottom: 1rem;
}


@media (min-width: 1280px) and (max-width: 1920px) {
 
  .mainhome {
    margin-top: 3rem;
    margin-left:2.5rem;
        grid-template-columns: repeat(3, minmax(250px, 600px));
      }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .mainhome {
    margin-top: 2.5rem;
    margin-left:2rem;
        grid-template-columns: repeat(3, minmax(250px, 600px));
      }
  
}

@media (min-width: 768px) and (max-width: 1024px) {
  .mainhome {
    margin-top: 2rem;
    margin-left:1.5rem;
        grid-template-columns: repeat(2, minmax(250px, 500px));
      }
}

@media (min-width: 660px) and (max-width: 768px) {
  .mainhome {
    margin-top: 1.5rem;
    margin-left:1rem;
        grid-template-columns: repeat(2, minmax(250px, 500px));
      }
}

@media (min-width: 320px) and (max-width: 660px) {
  .mainhome {
    margin-top: 1rem;
    margin-left:0.5rem;
        grid-template-columns: repeat(1, minmax(250px, 600px));
      }
}

