.signuppage {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: large;
  .bgcolor {
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    height: 100vh;
    .color {
      background-color: #374953;
      right: 0px;
      width: 41%;
    }
  }
}

.signupcontainer {
  position: fixed;
  height: 85%;
  width: 90%;
  display: flex;
  font-size: large;
  box-shadow: 0px 0px 20px 5px #7c7c7c;
}

.signupform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: white;
  overflow-y: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    width: 0px;
  }

  h1 {
    font-size: 2.3rem;
  }

  .name,
  .email,
  .mobile,
  .address,
  .dob,
  .gender,
  .langbox,
  .degree,
  .collage,
  .post,
  .company,
  .duration,
  .othre,
  .skill,
  .position,
  .password {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    font-size: large;
  }

  #inputbox {
    margin-left: 1rem;
    margin: 0.3rem;
    text-decoration: bold;
  }

  #text {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #ffffff;
    width: 20rem;
    height: 2rem;
    // &::placeholder{
    //     color: white;
    // }
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .address,
  .other {
    #inputbox {
      #text {
        height: 4rem;
      }
    }
  }
  .skill {
    #inputbox {
      #text {
        width: 18rem;
      }
      button {
        font-size: large;
        width: 2rem;
        height: 2rem;
        background-color: rgb(255, 255, 255);
        border: 1px solid black;
        border-radius: 5px;
      }
    }
  }

  .btn {
    
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    button, input {
      font-size: large;
      border-radius: 8px;
      border: 1px solid rgb(0, 0, 0);
      width: 8rem;
      height: 2rem;
      color: white;
      background-color: #374953;
    }
    :hover {
      color: rgb(0, 0, 0);
      background-color: #ffffff;
    }
  }
}

.otherpart {
  color: white;
  right: 0;
  top: 0;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #374953;
  img {
    width: 6rem;
  }

  // h1 {
  //   margin-top: 0px;
  //   margin-bottom: 1rem; 
  // }
  h2 {
    margin-bottom: 0px;
  }
}


.login {
  margin: 2rem;
  .btn1 {
  
    padding: 0.5rem;
    color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
    &:hover {
      color: black;
      background-color: white;
      box-shadow: 0px 0px 0px;
    }
  }
 
}