@mixin propop($dis, $fxdir, $mxw, $w, $mxh, $h, $alnitm) {
  display: $dis;
  flex-direction: $fxdir;
  max-width: $mxw;
  width: $w;
  max-height: $mxh;
  height: $h;
  align-items: $alnitm;
}

.mainpropopup {
  @include propop(flex, column, 100%, 100%, 100%, 100%, center);
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.proadd {
  @include propop(flex, column, 40%, 100%, 60%, 100%, center);
  color: white;
  border: 2px solid grey;
  border-radius: 30px;
  min-height: 22rem;
}

@mixin propop2($dis2, $mxw2, $w2) {
  display: $dis2;
  max-width: $mxw2;
  width: $w2;
}

.formhead {
  @include propop2(flex, 100%, 100%);
  h1 {
    flex: 80%;
    text-align: center;
  }
  button {
    flex: 10%;
    height: 2rem;
    background-color: red;
    border-radius: 9px;
    margin-right: 20px;
  }
}

.fields {
  @include propop2(flex, 100%, 75%);
  align-items: center;
  form tr td h3 {
    margin: 0;
  }
  form tr td input {
    //line-height: 1.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    margin-left: 7px;
    font-size: 1rem;
    //min-width: 7rem;
  }
}

.fieldsinput {
  max-width: 15rem;
  // min-width: 7rem;
  width: 100%;
  height: 1.5rem;
}
