.all {
  // width: 100%;
  // height: 100vh;
  border: 4px solid rgb(255, 255, 255);
  background-color: white;
  margin: 2rem;
  box-shadow: 0px 0px 20px;
}



.alldetails {
  //   width: 100%;
  height: 100%;
  flex-direction: row;
  margin: 2rem;
}

.rightside {
  display: flex;
  flex-direction: roe;
}

.graphs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  // background-color: #4a6f85;
  margin: 1rem 0rem 0rem 0rem;
  .Progress {
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
  }
  .chart {
    margin-top: 1rem;
    width: 30rem;
    height: 23rem;
  }
}

.prodetails {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  text-align: center;

  .client {
    height: 15rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 1rem 0rem 0rem 1rem;
    background-color: #ffffff;

    h2,
    h4,
    h3,
    h5 {
      margin: 5px;
    }
    h5 {
      margin-top: 15px;
      color: #4a6f85;
    }
  }

  .aboutproject {
    height: 20rem;
    border: 2px solid rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 10px;
    margin: 1rem 0rem 0rem 1rem;
    
.fieldsbtn{
  font-size: 1rem;
      height: 1.5rem;
      width: 4rem;
      background-color: #ffffff;
      border: 2px solid black;
      color: black;
      box-shadow: 0px 0px 0px;
      border-radius: 5px;
      &:hover {
        background-color: #2d404d;
        color: white;
      }
}
    h2,
    h4,
    h3 {
      margin: 0px;
    }
    h5 {
      margin-top: 15px;
      margin-bottom: 5px;
      color: #4a6f85;
    }
  }

  .heading {
    h2 {
      margin: 0px;
    }
    padding: 2px;
    background-color: #b7d0e0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid black;
    border-top: 3px solid black;
  }
}

.aboutteam {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin: 2rem 0rem 0rem 0rem;
  background-color: #ffffff;
  .heading {
    h2 {
      display: flex;
      justify-content: flex-end;
      margin: 0px;
      width: 60%;
    }
    display: flex;
    justify-content: flex-end;
    padding: 2px;
    background-color: #b7d0e0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid black;
    border-top: 3px solid black;
    padding: 10px;
  }
  .addbtn {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    button {
      font-size: 1.3rem;
      margin-right: 1rem;
      height: 2rem;
      width: 2rem;
      background-color: #ffffff;
      border: 2px solid black;
      color: black;
      box-shadow: 0px 0px 0px;
      border-radius: 5px;
      &:hover {
        background-color: #2d404d;
        color: white;
      }
    }
  }
  .team {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 10rem;
    // max-width: 15rem;
    .teammember {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 2px solid #57656e;
      margin: 1rem;
      padding: 0.5rem;
      h2 {
        margin: 0px;
      }
      h3 {
        margin: 0px;
        color: #5a7b92;
        margin-top: 10px;
      }
      .names,
      .mono,
      .post {
        width: 30%;
      }
    }
  }
}
table{
  margin-top: 2rem;
  border-collapse: collapse;
  width: 100%;
  tbody{
    tr:hover {
      background-color: #374953;
      color: white;
    }
  }

  h3{
    margin: 0px;
  }
  
  th, td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    // text-align: center;
  }
  button{
    background: rgba(0, 0, 0, 0.5);
    border: 0ch;
    color: white;
    border-radius: 5px;
    height: 2rem;
    width: 4.3rem;
    border: 1px solid black;
    &:hover {
      background-color: #1e2b31;
      border: 2px solid rgb(255, 255, 255);
      // background: rgb(4, 144, 238);
    }
  }
}

.fieldsbtn{
  margin-top: 1.5rem;
  font-size: 1.2rem;
      height: 2rem;
      width: 6rem;
      border: 2px solid black;
      box-shadow: 0px 0px 0px;
      border-radius: 5px;
      background-color: #2d404d;
      color: white;
      &:hover {
        color: black;
        background-color: #ffffff;
      }
}