@mixin project ($dis, $mxw, $w, $boxsize){
  display: $dis;
  max-width: $mxw;
  width: $w;
  box-sizing: $boxsize;
}

.wraperproject{
  @include project(flex, 100%, 100%, border-box);
  flex-direction: column;
  padding-top: 15px;
}

.mainproject {
  @include project(grid, 100%, 100%, border-box);
  //  border: 2px solid red; 
  height: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: auto;
  grid-gap: 20px;
  margin-top: 15px;
  padding: 0px 20px 0px 20px;
}

.btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
