.all {
  // width: 100%;
  // height: 100vh;
  border: 4px solid rgba(255, 255, 255, 0);
  margin: 1rem;
  // background-color: white;
  // margin: 2rem;
  // margin-top: 1.5rem;
  // margin-left: 2rem;
  // margin-right: 2rem;

  // box-shadow: 0px 0px 20px;
}

.alldetails {
  //   width: 100%;
  height: 100%;
  margin-bottom: 2rem;
  flex-direction: row;
  // margin: 2rem;
}

.aboutpro {
  display: flex;
  flex-direction: row;

  .graphs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background-color: #ffffff;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 7px;
    margin: 1rem 0rem 0rem 0rem;
    box-shadow: 0px 0px 20px;
    .Progress {
      border-top: 3px solid rgb(0, 0, 0);
      border-bottom: 2px solid rgb(0, 0, 0);
      width: 100%;
      text-align: center;
      background-color: #b7d0e0;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    .chart {
      display: flex;
      margin-top: 1rem;
      height: 28rem;

      .chart2,
      .chart1 {
        text-align: center;
        width: 22.5rem;
      }
    }
  }
}
.prodetails {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  text-align: center;

  .client {
    height: 15rem;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 1rem 0rem 0rem 1rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px;
    h2,
    h4,
    h3,
    h5 {
      margin: 5px;
    }
    h5 {
      margin-top: 15px;
      color: #4a6f85;
    }
  }

  .aboutproject {
    height: 18rem;
    border: 2px solid rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 10px;
    margin: 1rem 0rem 0rem 1rem;
    box-shadow: 0px 0px 20px;

    .adddecsbtn {
      font-size: 1rem;
      height: 1.5rem;
      width: 4rem;
      background-color: #ffffff;
      border: 2px solid black;
      color: black;
      box-shadow: 0px 0px 0px;
      border-radius: 5px;
      &:hover {
        background-color: #2d404d;
        color: white;
      }
    }
    h2 {
      margin: 0px;
    }
    h4 {
      font-size: large;
      margin: 0px;
    }
    h5 {
      margin-top: 15px;
      margin-bottom: 5px;
      color: #4a6f85;
    }
  }

  .heading {
    h2 {
      margin: 0px;
    }
    padding: 2px;
    background-color: #b7d0e0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid black;
    border-top: 3px solid black;
  }
}

.aboutteam {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin: 2rem 0rem 0rem 0rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px;
  .heading {
    h2 {
      display: flex;
      justify-content: flex-end;
      margin: 0px;
      width: 60%;
    }
    display: flex;
    justify-content: flex-end;
    padding: 2px;
    background-color: #b7d0e0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid black;
    border-top: 3px solid black;
    padding: 10px;
  }
  .addbtn {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    button {
      font-size: 1.3rem;
      margin-right: 1rem;
      height: 2rem;
      width: 2rem;
      background-color: #ffffff;
      border: 2px solid black;
      color: black;
      box-shadow: 0px 0px 0px;
      border-radius: 5px;
      &:hover {
        background-color: #2d404d;
        color: white;
      }
    }
  }
  .team {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 10rem;
    // max-width: 15rem;
    .teammember {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 2px solid #57656e;
      margin: 1rem;
      padding: 0.5rem;
      h2 {
        margin: 0px;
      }
      h3 {
        margin: 0px;
        color: #5a7b92;
        margin-top: 10px;
      }
      .names,
      .mono,
      .post {
        width: 30%;
      }
    }
  }
}
table {
  margin-top: 2rem;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 0px 20px;
  background-color: #ffffff;
  border: 2px solid black;
  tbody {
    tr:hover {
      background-color: #374953;
      color: white;
    }
  }

  h3 {
    margin: 0px;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    // text-align: center;
  }
  button {
    background: rgba(0, 0, 0, 0.5);
    border: 0ch;
    color: white;
    border-radius: 5px;
    height: 2rem;
    width: 4.3rem;
    border: 1px solid black;
    &:hover {
      background-color: #1e2b31;
      border: 2px solid rgb(255, 255, 255);
      // background: rgb(4, 144, 238);
    }
  }
}

.addtaskbtn {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  height: 2rem;
  width: 6rem;
  border: 2px solid black;
  box-shadow: 0px 0px 0px;
  border-radius: 5px;
  background-color: #2d404d;
  color: white;
  &:hover {
    color: black;
    background-color: #ffffff;
  }
}

@media (min-width: 1280px) and (max-width: 1920px) {
  .all {
    grid-template-columns: repeat(3, minmax(350px, 800px));
  }
  .rightside {
    .graphs {
      .chart {
        display: flex;
        margin-top: 1rem;
        height: 28rem;

        .chart2,
        .chart1 {
          text-align: center;
          width: 20rem;
          border: 2px solid;
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .all {
    grid-template-columns: repeat(3, minmax(250px, 600px));
  }
  .aboutpro {
    display: flex;
    flex-direction: row;
    .graphs {
      display: flex;
      flex-direction: column;
      align-items: center;
      .chart {
        display: flex;
        margin-top: 1rem;
        height: 28rem;

        .chart2,
        .chart1 {
          text-align: center;
          width: 18rem;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .all {
    grid-template-columns: repeat(2, minmax(250px, 500px));
  }
  .aboutpro {
    display: flex;
    flex-direction: column;

    .graphs {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .chart {
        display: flex;
        margin-top: 1rem;
        height: 26rem;

        .chart2,
        .chart1 {
          text-align: center;
          width: 19rem;
        }
      }
    }
  }
  .prodetails {
    flex-direction: row;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;

    .client {
      height: 18rem;
      width: 100%;
      margin-left: 0px;
    }

    .aboutproject {
      height: 18rem;
      width: 100%;
    }
  }
  .aboutteam {
    .addbtn {
      display: flex;
      justify-content: flex-end;
      width: 40%;
    }
    .team {
      .teammember {
        h2 {
          font-size: 1.1rem;
        }
        h3 {
          font-size: 1rem;
        }
        .names,
        .mono,
        .post {
          width: 30%;
        }
      }
    }
  }
  table {
    h3 {
      font-size: 1rem;
    }
  }
}

@media (min-width: 660px) and (max-width: 768px) {
  .all {
    grid-template-columns: repeat(2, minmax(250px, 500px));
  }
  .aboutpro {
    display: flex;
    flex-direction: column;

    .graphs {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .chart {
        display: flex;
        margin-top: 1rem;
        height: 22rem;

        .chart2,
        .chart1 {
          text-align: center;
          width: 16rem;
        }
      }
    }
  }

  .prodetails {
    flex-direction: row;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;

    .client {
      height: 18rem;
      width: 100%;
      margin-left: 0px;
    }

    .aboutproject {
      height: 18rem;
      width: 100%;
    }
  }
  .aboutteam {
    .addbtn {
      display: flex;
      justify-content: flex-end;
      width: 40%;
    }
    .team {
      .teammember {
        h2 {
          font-size: 1.2rem;
        }
        h3 {
          font-size: 1rem;
        }
        .names,
        .mono,
        .post {
          width: 30%;
        }
      }
    }
  }
  table {
    h3 {
      font-size: 1rem;
    }
  }
}

@media (min-width: 320px) and (max-width: 660px) {
  .all {
    grid-template-columns: repeat(1, minmax(300px, 500px));
  }
  .aboutpro {
    flex-direction: column;

    .graphs {
      flex-direction: column;
      width: 100%;
      .chart {
        display: flex;
        flex-direction: column;
        height: 40rem;

        .chart2,
        .chart1 {
          flex-direction: column;
          text-align: center;
          width: 15rem;
        }
      }
    }
  }
  .prodetails {
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;

    .client {
      height: 18rem;
      width: 100%;
      margin-left: 0px;
    }

    .aboutproject {
      height: 18rem;
      width: 100%;
      margin-left: 0px;
    }
  }
  .aboutteam {
    .addbtn {
      display: flex;
      justify-content: flex-end;
      width: 30%;
    }
    .team {
      margin: 0px;
      .teammember {
        // flex-direction: column;
        // width: 100%;
        h2 {
          width: 100%;
          font-size: 0.6rem;
        }
        h3 {
          font-size: 0.8rem;
        }
        .names,
        .mono,
        .post {
          width: 30%;
        }
      }
    }
  }
  table {
    td{
      font-size: 0.5rem;
    }
    h3 {
      font-size: 0.5rem;
    }
  }
}
