.mainprojectcompo{
    /* max-width: 100%; */
    width: 360px;
    
}

.progressreport img{
    height: 200px;
    width: 100%;
 
}

.probox{
    /* border: 2px solid green; */
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.proinfo{
    display: flex;
    flex-direction: column;
    
}

.proinfo h3, h4{
    margin: 0px;
    line-height: 1.8rem;
}

.proname{
    display: flex;
}

.clientname{
    display: flex;
}

.deadline{
    display: flex;
}

.managername{
    display: flex;
}