@mixin project($dis, $mxw, $w, $boxsize) {
  display: $dis;
  max-width: $mxw;
  width: $w;
  box-sizing: $boxsize;
}

.wraperproject {
  @include project(flex, 100%, 100%, border-box);
  flex-direction: column;
  padding-top: 15px;
}

.mainproject {
  display: grid;
  grid-gap: 1rem;
  margin: 15px;
  align-content: start;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  height: 25rem;
  
}

.btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.bton{
  background-color: rgb(234, 251, 255);
  border: 2px solid black;
  border-radius: 20px;
  height: 2rem;
  width: 7rem;
  box-shadow: 0px 0px 10px;
  &:hover{
    color: white;
    background-color:  #0081bd;
  }
}
