@mixin project($dis, $mxw, $w, $boxsize) {
  display: $dis;
  max-width: $mxw;
  width: $w;
  box-sizing: $boxsize;
}

.wraperproject {
  @include project(flex, 100%, 100%, border-box);
  flex-direction: column;
  padding-top: 15px;
}

.mainproject {
  display: grid;
  grid-gap: 1rem;
  margin: 15px;
  align-content: start;
  // justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 22.5rem));
  height: 25rem;
  
}

.btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.bton{
  background-color: rgb(234, 251, 255);
  border: 2px solid black;
  border-radius: 20px;
  height: 2rem;
  width: 7rem;
  box-shadow: 0px 0px 10px;
  &:hover{
    color: white;
    background-color:  #0081bd;
  }
}



.proinfo{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom-left-radius: 10px ;
  border-bottom-right-radius: 10px ;
  background-color: #374953;
  color: white;
  margin-top: 0px;
  h4{
    margin-top: 0px;
    margin-bottom: 5px;
    color: white;
  }
  h5{
    color: rgba(0, 0, 0, 0.521);
    margin: 0px;
    color: rgb(156, 156, 156);
  }
  .proname{
    h5{
      margin: 0px;
    }
  }
}
