.navbarmain{
    max-width: 100%;
    background-color: #fff;
    display: flex;
    width: 100%;
    // position: fixed;
    .logo{
        flex: 60vw;
        h1{
            margin: 0.3em;
            color: #03A9F4;
        } 
    }
    .user{
        display: flex;
        flex-direction: row-reverse;
        margin: 0px 28px 0px 0px;
        .uname{
            margin: 0px 1vw;
        }
    }
}
