@font-face {
  font-family: "azonixregular";
  src: url("../../fonts/azonix-webfont.woff2") format("woff2"),
    url("../../fonts/azonix-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// font-family:Titillium Web,sans-serif;scroll-behavior:smooth}
.azonix {
  font-family: "azonixregular";
}


.navbarmain {
  display: flex;
  position: fixed;
  vertical-align: top;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 3.5em;
  z-index: 100;
  left: 0%;
  top: 0%;
  scroll-behavior:smooth;
  box-shadow: 0 0.063rem 0.625rem 0 rgb(0 0 0 / 20%);

  .logo {
    display: flex;
    flex: 60vw;

    h1 {
      margin: 0.3em;
      color: #03a9f4;
    }
    img {
      margin: 0.8em;
      width: 2rem;
      height: 2rem;
    }
  }
  .user {
    display: flex;
    // margin: 0.2em;
    // margin: 0px 28px 0px 0px;
    img {
      display: flex;
      margin: 0.8em;
      width: 2rem;
      height: 2rem;
      // border: 1px solid black;
      border-radius: 50%;
    }
    .logout {
      display: flex;
      align-items: center;
      margin: 1rem;
      button {
        color: rgb(0, 0, 0);
        width: 80px;
        border-radius: 5px;
        border: 2px solid black;
        padding: 4px;
        &:hover {
          transform: scale(1.08);
          color: white;
          background-color: #374953;
        }

        span {
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.5s;
          &:after {
            content: "\00bb";
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
          }
        }

        &:hover span {
          padding-right: 25px;
        }

        &:hover span:after {
          opacity: 1;
          right: 0;
        }
      }
    }
  }
}
