.empapproval {
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 0px 15px #000000;
  margin: 2rem;
  margin-right: 1rem;
  border: 2px solid rgb(255, 255, 255);
}

.outerbox,
.outerbox2 {
  color: white; 
  position: fixed;
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 3rem;
  left: 0%;
  background: rgba(0, 0, 0, 0.8);
}

.box,
.box2 {
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  overflow-y: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0px;
  }
  bottom: 2rem;
}

.content,
.content2 {
  border: 2px solid rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.493);
  padding: 1rem;

  .head,
  .head2 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #374953;
    h1 {
      padding: 1rem;
    }
    .btn,
    .btn2 {
      button {
        cursor: pointer;
        position: absolute;
        height: 2.5rem;
        width: 2.5rem;
        font-size: 1.2rem;
        background-color: white;
        border: 2px solid black;
        border-radius: 5px;
        top: 2rem;
        right: 1rem;
        &:hover {
          background-color: #374953;
          color: white;
          border: 2px solid rgb(255, 255, 255);
        }
      }
    }
  }

  .leave,
  .expence {
    color: #ffffff;
    width: 100%;

    .leavedetails,
    .expencedetails {
      // display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0.5rem;
      width: 100%;

      .leavetitle,
      .expencetitle {
        margin-top: 1rem;
        margin-bottom: 1rem;
        justify-content: center;
        align-items: center;
        input {
          width: 15rem;
          margin-top: 3px;
        }
      }

      .leavedaytype {
        margin-top: 1rem;
        margin-bottom: 1rem;
        .leavetype {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          .leavefull {
            margin-right: 1rem;
            margin-top: 3px;
            margin-bottom: 0px;
          }
        }
      }

      .leaveduration {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        margin-top: 1rem;
        margin-bottom: 1rem;
        .leaveduration1 {
          margin-right: 1rem;
          margin-bottom: 0px;
          .leaveend,
          .leavestart {
            margin-top: 3px;
          }
        }
      }
    }

    .leavereson,
    .description {
      width: 100%;
      margin-bottom: 2rem;
      .leaveresonbox,
      .descriptionbox {
        display: flex;
        align-items: center;
        width: 100%;
        textarea {
          width: 100%;
        }
      }
    }

    h4 {
      margin: 0px;
    }
  }

  .send,
  .send2 {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      cursor: pointer;
      height: 2rem;
      width: 4rem;
      font-size: 1.2rem;
      background-color: white;
      border: 2px solid black;
      border-radius: 5px;
      &:hover {
        background-color: #374953;
        color: white;
        border: 2px solid rgb(255, 255, 255);
      }
    }
  }
}


.managerbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 20rem;

  .leavesbox {
    border: 2px solid #000000;
    width: 20rem;
    height: auto;
    flex-grow: 2;
    margin: 0.5rem;
    min-height: 10rem;
    flex-wrap: wrap;
    h4,h3{
      margin-bottom: 0px;
    }
    .leavetitle {
      display: flex;
      justify-content: space-between;
      background-color: #374953;
      align-items: center;
    }
    .leaves{
      display: flex;
      justify-content: center;
      border: 2px solid rgb(0, 0, 0);
      margin: 0.5rem;
      text-align: center;
      
    
      .date{
        display: flex;
        flex-direction: row;
        justify-content: center;
        #datesp{
          margin-right: 1rem;
        }
      }
    }
  }

  .expencesbox {
    border: 2px solid #000000;
    width: 20rem;
    flex-grow: 2;
    height: auto;
    margin: 0.5rem;
    min-height: 10rem;
    text-align: center;
    h4,h3{
      margin-bottom: 0px;
    }
    .expenceitle {
      display: flex;
      justify-content: space-between;
      background-color: #374953;
      align-items: center;
    }
    .expences{
      border: 2px solid rgb(0, 0, 0);
      margin: 0.5rem;
    }
  }
  h2 {
    margin: 5px;
    color: #ffffff;
    margin: 0.5rem;
  }
  button{
    cursor: pointer;
    margin: 0.5rem;
    background-color: #ffffff;
    border: 1px solid #000000;
    height: 2rem;
    border-radius: 3px;
    &:hover{
      background-color: #374953;
      color: #ffffff;
      border: 1px solid #ffffff;
    }
   
  }
}

.resulttrue{
  margin: 1rem;
  justify-content: center;
  color: green;
}

.resultfalse{
  margin: 1rem;
  color: red;
  justify-content: center;
}

.resultpandig{
  margin: 1rem;
  justify-content: center;
}



@media (min-width: 1280px) and (max-width: 1920px) {
  .empapproval {
    margin-top: 3rem;
    margin-left:2.5rem;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .empapproval {
      margin-top: 2.5rem;
    margin-left:2rem;
      margin-bottom: 1.5rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .empapproval {
    margin-top: 2rem;
    margin-left:1.5rem;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 660px) and (max-width: 768px) {
  .empapproval {
    margin-top: 1.5rem;
    margin-left:1rem;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 320px) and (max-width: 660px) {
  .empapproval {
    margin-top: 1rem;
    margin-left:0.5rem;
    margin-bottom: 1.5rem;
  }
}
