.mainusercompo {
  display: grid;
  grid-gap: 1rem;
  margin: 15px;
  align-content: start;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  height: 25rem;
  // box-shadow: 2px 0px 10px #a1a1a1;
}   

.person {
  display: flex;  
  background-color: #fff;
  border-radius: 5px;
  height: 8.5rem;
  // margin: 5px;
  box-shadow: 2px 0px 10px #a1a1a1;
}

.left {
  display: flex;
  flex-direction: column;
  margin: 10px;
  line-height: 3rem;
  h1 {
    margin: 0%;
    padding: 0%;
  }
  img{
    width: 5rem;
    height: 5rem;
  }
  .userbtn{
    margin: 0.8rem;
    display: flex;
    flex-direction: row;
  }
}

.right {
  margin: 10px;
  margin-left: 20px;
  h5,
  p {
    margin: 0;
  }
  h2 {
    margin: 0%;
    padding: 0%;
    line-height: 2.5rem;
  }
  &:hover {
    cursor: pointer;
  }
}
