.mainusercompo {
  display: grid;
  grid-gap: 1rem;
  // margin: 20px;
  // grid-template-columns: 120px 120px 120px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
  height: auto;
  width: 100%;
  border: 2px solid red;
}

.person {
  display: flex;  
  background-color: #fff;
  border-radius: 5px;
  height: 10rem;
}

.left {
  margin: 10px;
  line-height: 3rem;
  h1 {
    margin: 0%;
    padding: 0%;
  }
}

.right {
  margin: 10px;
  margin-left: 20px;
  h5,
  p {
    margin: 0;
  }
  h2 {
    margin: 0%;
    padding: 0%;
    line-height: 2.5rem;
  }
  &:hover {
    cursor: pointer;
  }
}
