.edit {
  border: 2px solid rgb(217, 236, 240);
  padding: 3px;
}
.editpage {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: white;
  box-shadow: 0px 0px 10px;
  .title {
    padding: 0.5rem;
    text-align: center;
    color: #ffffff;
    background-color: #374953;
  }

  .form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    .sticky {
      position: sticky;
      top: 100px;
    }
    .part {
      .uicon {
        height: 100vh;
        border-right: 1px solid #000000;
        margin-right: 2rem;
        text-align: center;
        h2 {
          font-size: 2rem;
          margin-bottom: 0.8rem;
        }
        img {
          width: 15rem;
          margin-top: 2rem;
          margin-left: 2rem;
          margin-right: 2rem;
        }
        .cardlogo {
          h4 {
            margin: 5px;
          }
          img {
            width: 1rem;
            margin-top: 3px;
            margin-left: 0px;
            margin-right: 10px;
          }
        }
      }
    }

    .formpart1 {
      // margin-right: 2rem;
      margin-bottom: 2rem;
      align-items: center;
      overflow-y: scroll;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        width: 0px;
      }
      #text {
        width: 23rem;
        height: 3rem;
        font-size: 1.2rem;
        border: 1px solid black;
        border-radius: 5px;
        padding: 1rem;
      }
      #areaoftext {
        width: 23rem;
        height: 5rem;
        font-size: 1.2rem;
        border: 1px solid black;
        border-radius: 5px;
        padding: 1rem;
      }
      #skilltext {
        width: 21rem;
        height: 3rem;
        font-size: 1.2rem;
        border: 1px solid black;
        border-radius: 5px;
        padding: 1rem;
      }

      #skillbutton {
        width: 2rem;
        height: 2.9rem;
        font-size: 2rem;
        border-radius: 5px;
        background-color: #374953;
        color: #ffffff;
      }

      .tag {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
      }
    }

    .formpart2 {
      border-left: 1px solid #000000;
      padding-left: 2rem;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        width: 0px;
      }
      #text {
        width: 20rem;
        height: 3rem;
        font-size: 1.2rem;
        border: 1px solid black;
        border-radius: 5px;
        padding: 1rem;
      }
      #inputredio {
        font-size: 1.3rem;
        #rediobtn {
          transform: scale(1.2);
        }
      }
      .tag {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
      }
    }

    h1 {
      margin-left: 0px;
      margin-bottom: 2rem;
    }
    .detalis {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  .skillname {
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    width: 17rem;
    align-items: center;

    P {
      margin: 0.3rem;
      width: 5rem;
      height: 1.5rem;
      border: 1px solid rgb(0, 0, 0);
      text-align: center;
    }
  }
}

.btn {
  margin-top: 0.5rem;
  button,
  input {
    margin: 1rem;
    font-size: large;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    width: 8rem;
    height: 2rem;
    color: white;
    background-color: #374953;
  }
  :hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
  }
}

@media (min-width: 1680px) and (max-width: 1920px) {
  .editpage {
    .title {
      font-size: 1.8rem;
    }

    .form {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      .part {
        .uicon {
          h2 {
            font-size: 2.5rem;
            margin-bottom: 1rem;
          }
          img {
            width: 20rem;
          }
          .cardlogo {
            h4 {
              font-size: 1.5rem;
              margin-bottom: 1rem;
            }
            img {
              width: 1.3srem;
            }
          }
        }
      }

      .formpart1 {
        h3 {
          font-size: 2rem;
        }
        #text {
          width: 30rem;
          height: 4rem;
          font-size: 1.5rem;
        }
        #areaoftext {
          width: 30rem;
          height: 8rem;
          font-size: 1.5rem;
        }
        #skilltext {
          width: 27rem;
          height: 3rem;
          font-size: 1.2rem;
        }

        #skillbutton {
          width: 3rem;
          height: 2.9rem;
          font-size: 2rem;
        }

        .tag {
          font-size: 1.3rem;
        }
        .gender {
          font-size: 1.5rem;
          input {
            font-size: large;
            width: 5rem;
            height: 1.5rem;
          }
        }
        .langbox {
          font-size: 1.5rem;
          input {
            font-size: large;
            width: 5rem;
            height: 1.5rem;
          }
        }
      }

      .formpart2 {
        h3 {
          font-size: 2rem;
        }
        #text {
          width: 28rem;
          height: 4rem;
          font-size: 1.5rem;
        }
        #inputredio {
          input {
            font-size: large;
            width: 3rem;
            height: 1.2rem;
          }
        }
        .tag {
          font-size: 1.3rem;
        }
      }

      h1 {
        margin-left: 0px;
        margin-bottom: 2rem;
      }
      .detalis {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }

    .skillname {
      display: flex;
      margin: 1rem;
      flex-wrap: wrap;
      width: 27rem;
      align-items: center;

      P {
        width: 8rem;
        height: 2rem;
        padding: 5px;
        font-size: 1.2rem;
      }
    }
  }

  .btn {
    display: flex;
    justify-content: left;
    button,
    input {
      font-size: large;
      width: 12rem;
      height: 3rem;
    }
  }
}
@media (min-width: 1280px) and (max-width: 1680px) {
  .editpage {
    .title {
      font-size: 1.6rem;
    }

    .form {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      .part {
        .uicon {
          h2 {
            font-size: 2.1rem;
            margin-bottom: 1rem;
          }
          img {
            width: 16rem;
          }
          .cardlogo {
            h4 {
              font-size: 1.4rem;
              margin-bottom: 1rem;
            }
            img {
              width: 1.2rem;
            }
          }
        }
      }

      .formpart1 {
        h3 {
          font-size: 1.8rem;
        }
        #text {
          width: 22rem;
          height: 3.5rem;
          font-size: 1.5rem;
        }
        #areaoftext {
          width: 22rem;
          height: 7rem;
          font-size: 1.5rem;
        }
        #skilltext {
          width: 18rem;
          height: 3rem;
          font-size: 1.2rem;
        }

        #skillbutton {
          width: 3rem;
          height: 2.9rem;
          font-size: 2rem;
        }

        .tag {
          font-size: 1.3rem;
        }
        .gender {
          font-size: 1.5rem;
          input {
            font-size: large;
            width: 2rem;
            height: 1.5rem;
          }
        }
        .langbox {
          font-size: 1.5rem;
          input {
            font-size: large;
            width: 2rem;
            height: 1.5rem;
          }
        }
      }

      .formpart2 {
        h3 {
          font-size: 1.8rem;
        }
        #text {
          width: 20rem;
          height: 4rem;
          font-size: 1.5rem;
        }
        #inputredio {
          input {
            font-size: large;
            width: 1.2rem;
            height: 1.2rem;
          }
        }
        .tag {
          font-size: 1.3rem;
        }
      }

      h1 {
        margin-left: 0px;
        margin-bottom: 2rem;
      }
      .detalis {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }

    .skillname {
      display: flex;
      margin: 1rem;
      flex-wrap: wrap;
      width: 20rem;
      align-items: center;

      P {
        width: 8rem;
        height: 2rem;
        padding: 5px;
        font-size: 1.2rem;
      }
    }
  }

  .btn {
    display: flex;
    justify-content: left;
    button,
    input {
      font-size: large;
      width: 8.5rem;
      height: 2rem;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .editpage {
    .title {
      font-size: 1.4rem;
    }

    .form {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      .part {
        .uicon {
          h2 {
            font-size: 1.6rem;
            margin-bottom: 1rem;
          }
          img {
            width: 12rem;
          }
          .cardlogo {
            h4 {
              font-size: 1.1rem;
              margin-bottom: 1rem;
            }
            img {
              width: 1.1rem;
            }
          }
        }
      }

      .formpart1 {
        h3 {
          font-size: 1.6rem;
        }
        #text {
          width: 16.5rem;
          height: 2.5rem;
          font-size: 1.1rem;
        }
        #areaoftext {
          width: 16.5rem;
          height: 5rem;
          font-size: 1.1rem;
        }
        #skilltext {
          width: 14.5rem;
          height: 2.5rem;
          font-size: 1.2rem;
        }

        #skillbutton {
          width: 2rem;
          height: 2.5rem;
          font-size: 1.6rem;
        }

        .tag {
          font-size: 1rem;
        }
        .gender {
          font-size: 1.1rem;
          input {
            font-size: large;
            width: 1.5rem;
            height: 1.3rem;
          }
        }
        .langbox {
          font-size: 1.1rem;
          input {
            font-size: large;
            width: 1.5rem;
            height: 1.3rem;
          }
        }
      }

      .formpart2 {
        h3 {
          font-size: 1.6rem;
        }
        #text {
          width: 15rem;
          height: 2.5rem;
          font-size: 1.1rem;
        }
        #inputredio {
          font-size: 1rem;
          input {
            font-size: large;
            width: 1rem;
            height: 1rem;
          }
        }
        .tag {
          font-size: 1rem;
        }
      }

      h1 {
        margin-left: 0px;
        margin-bottom: 2rem;
      }
      .detalis {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }

    .skillname {
      display: flex;
      margin: 1rem;
      flex-wrap: wrap;
      width: 16rem;
      align-items: center;

      P {
        width: 5.5rem;
        height: 1.8rem;
        padding: 3px;
        font-size: 1rem;
      }
    }
  }

  .btn {
    display: flex;
    justify-content: left;
    button,
    input {
      font-size: large;
      width: 6.5rem;
      height: 2rem;
    }
  }
}

@media (min-width: 850px) and (max-width: 1024px) {
  .editpage {
    .title {
      font-size: 1.4rem;
    }

    .form {
      height: 50rem;
      display: grid;
      grid-template-columns: repeat(2, minmax(150px, 1fr));
      .part {
        .uicon {
          height: 50rem;
          border-right: 1px solid #000000;
        }
      }
      .formpart1 {
        height: 49rem;
        h3 {
          font-size: 1.6rem;
        }
        #text {
          width: 16.5rem;
          height: 2.5rem;
          font-size: 1.1rem;
        }
        #areaoftext {
          width: 16.5rem;
          height: 5rem;
          font-size: 1.1rem;
        }
        #skilltext {
          width: 14.5rem;
          height: 2.5rem;
          font-size: 1.2rem;
        }

        #skillbutton {
          width: 2rem;
          height: 2.5rem;
          font-size: 1.6rem;
        }

        .tag {
          font-size: 1rem;
        }
        .gender {
          font-size: 1.1rem;
          input {
            font-size: large;
            width: 1.5rem;
            height: 1.3rem;
          }
        }
        .langbox {
          font-size: 1.1rem;
          input {
            font-size: large;
            width: 1.5rem;
            height: 1.3rem;
          }
        }
      }

      .formpart2 {
        border-left: 0px solid #000000;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        top: 33rem;
        // margin-left: 3vw;

        h3 {
          font-size: 1.5rem;
        }
        #text {
          width: 13rem;
          height: 2.5rem;
          font-size: 1.1rem;
        }
        #inputredio {
          // display: flex;
          // flex-wrap: wrap;
          font-size: 0.9rem;
          input {
            font-size: large;
            width: 0.6rem;
            // height: 1rem;
          }
        }
        .tag {
          font-size: 1rem;
        }
      }

      h1 {
        margin-left: 0px;
        margin-bottom: 2rem;
      }
      .detalis {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }

    .skillname {
      display: flex;
      margin: 1rem;
      flex-wrap: wrap;
      width: 16rem;
      align-items: center;

      P {
        width: 6rem;
        height: 1.8rem;
        padding: 3px;
        font-size: 1rem;
      }
    }
  }

  .btn {
    display: flex;
    justify-content: left;
    button,
    input {
      font-size: large;
      width: 5rem;
      height: 2rem;
    }
  }
}

@media (max-width: 850px) {
  .editpage {
    .title {
      font-size: 1.4rem;
    }

    .form {
      height: 100%;
      display: grid;
      margin-bottom: 2rem;
      grid-template-columns: repeat(1, minmax(180px, 1fr));
      .part {
        .uicon {
          margin-right: 0rem;
          height: 22rem;
          border-right: 0px solid #000000;
          img {
            width: 10rem;
          }
        }
      }
      .formpart1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
          font-size: 2rem;
        }
        #text {
          width: 16.5rem;
          height: 2.5rem;
          font-size: 1.1rem;
        }
        #areaoftext {
          width: 16.5rem;
          height: 5rem;
          font-size: 1.1rem;
        }
        #skilltext {
          width: 14.5rem;
          height: 2.5rem;
          font-size: 1.2rem;
        }

        #skillbutton {
          width: 2rem;
          height: 2.5rem;
          font-size: 1.6rem;
        }

        .tag {
          font-size: 1rem;
        }
        .gender {
          font-size: 1.1rem;
          input {
            font-size: large;
            width: 1.5rem;
            height: 1.3rem;
          }
        }
        .langbox {
          font-size: 1.1rem;
          input {
            font-size: large;
            width: 1.5rem;
            height: 1.3rem;
          }
        }
      }

      .formpart2 {
        border-left: 0px solid #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0rem;
        h3 {
          font-size: 1.5rem;
        }
        #text {
          width: 13rem;
          height: 2.5rem;
          font-size: 1.1rem;
        }
        #inputredio {
          // display: flex;
          // flex-wrap: wrap;
          font-size: 0.9rem;
          input {
            font-size: large;
            width: 0.6rem;
            // height: 1rem;
          }
        }
      }
    }
  }

  .btn {
    display: flex;
    justify-content: left;
    button,
    input {
      font-size: large;
      width: 5rem;
      height: 2rem;
    }
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  .editpage {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }

  .editpage {
    .title {
      font-size: 1.4rem;
    }
    // ================

    // ================

    .form {
      height: 100%;
      display: grid;
      margin-bottom: 2rem;
      grid-template-columns: repeat(1, minmax(180px, 1fr));
      .sticky {
        position: sticky;
        top: 100px;
      }
      .part {
        .uicon {
          margin-right: 0rem;
          height: 22rem;
          border-right: 0px solid #000000;
          h2 {
            font-size: 1.5rem;
            margin-bottom: 0.8rem;
          }
          img {
            width: 7rem;
          }
          .cardlogo {
            h4 {
              margin: 5px;
            }
            img {
              width: 1rem;
              margin-top: 3px;
              margin-left: 0px;
              margin-right: 10px;
            }
          }
        }
      }

      .formpart1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
          font-size: 1rem;
        }
        #text {
          width: 10rem;
          height: 2rem;
          font-size: 0.8rem;
        }
        #areaoftext {
          width: 10em;
          height: 5rem;
          font-size: 1rem;
        }
        #skilltext {
          width: 8rem;
          height: 2rem;
          font-size: 1.2rem;
          border: 1px solid black;
          border-radius: 5px;
          padding: 1rem;
        }

        .skillname {
          display: flex;
          margin-top: 1rem;
          flex-wrap: wrap;
          width: 10rem;
          align-items: center;

          P {
            margin: 0.3rem;
            width: 5.5rem;
            height: 1.5rem;
            border: 1px solid rgb(0, 0, 0);
            text-align: center;
          }
        }

        #skillbutton {
          width: 2rem;
          height: 2rem;
          font-size: 1.5rem;
          border-radius: 5px;
          background-color: #374953;
          color: #ffffff;
        }

        .tag {
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
        }
        .gender {
          font-size: 0.8rem;
          input {
            font-size: large;
            width: 0.8rem;
            height: 0.8rem;
          }
        }
        .langbox {
          font-size: 0.8rem;
          input {
            font-size: small;
            width: 0.8rem;
            height: 0.8rem;
          }
        }
      }

      .formpart2 {
        border-left: 0px solid #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0rem;
        h3 {
          font-size: 1rem;
        }
        #text {
          width: 10rem;
          height: 2rem;
          font-size: 0.8rem;  
        }
        #inputredio {
          font-size: 0.8rem;
          #rediobtn {
            width: 0.5rem;
          }
        }
        .tag {
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
        }
      }

      h1 {
        margin-left: 0px;
        margin-bottom: 2rem;
      }
      .detalis {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }

    .skillname {
      display: flex;
      margin-top: 1rem;
      flex-wrap: wrap;
      width: 17rem;
      align-items: center;

      P {
        margin: 0.3rem;
        width: 5rem;
        height: 1.5rem;
        border: 1px solid rgb(0, 0, 0);
        text-align: center;
      }
    }
  }

  .btn {
    margin-top: 0.5rem;
    button,
    input {
      margin: 0.5rem;
      font-size: 1rem;
      width: 4rem;
      height: 2rem;
    }
  }
}
