@mixin bghome($bgclr, $lhight, $fsize, $fclr) {
  background-color: $bgclr;
  line-height: $lhight;
  font-size: $fsize;
  color: $fclr;
}

.mainhomecompo {
  display: grid;
  margin: 20px;
  align-content: start;
  justify-content: center;
  // width: 20rem;
  // width: fit-content;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  height: 20rem;
  background-color: #fff;
  box-shadow: 2px 0px 50px  #a7a7a7;
  border-radius: 5%;
  // overflow-y: auto;
  
  &:hover{
    box-shadow: 0px 0px 5px rgb(255, 255, 255)  ;
    transform: scale(1.03);
  }
  .scroll{
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      width: 0px;
    }
  }

  .head{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .head {
    display: flex;
    @include bghome(#374953, 40px, 0.9rem, white);

    h3 {
      margin: 0px;
      margin-left: 5px;
      font-size: 1.5rem;
    }
    button {
      color: white;
      font-size: large;
      border: 2px solid white;
      border-radius: 20%;
      align-self: center;
      margin-left: auto;
      height: 2rem;
      width: 2rem;
      margin-right: 0.3rem;
      background-color: #374953;
      &:hover {
        color: black;
        border: 2px solid black;
        background-color: #b7d0e0;
      }
    }
  }
  .cimg{
    img{
      width: 1.5rem;
    }
  }
}



.content {
  @include bghome(#b7d0e0, 18px, 0.8rem, black);
  display: flex;
  align-items: center;
  margin: 7px;
  border-radius: 10px;
  h3, h2, p {
    margin: 0px;
  }
  .cimg {
    margin-left: 10px;
  }
  .text {
    margin-left: 10px;
  }
}

.tagtext{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.textbtn{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}

.removebtn {
  button{
    margin-right: 1rem;
    text-align: center;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #b7d0e0;
    color: black;
    border: none;
    border-radius: 20%;
  }
}
