@mixin bghome($bgclr, $lhight, $fsize, $fclr) {
  background-color: $bgclr;
  line-height: $lhight;
  font-size: $fsize;
  color: $fclr;
}

.mainhomecompo {
  display: grid;
  grid-gap: 1rem;
  margin: 15px;
  align-content: start;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  height: 25rem;
  // width: 20rem;
  background-color: #fff;
  box-shadow: 2px 0px 15px #a1a1a1;
  .head {
    display: flex;
    @include bghome(#374953, 40px, 0.9rem, white);

    h3 {
      margin: 0px;
      margin-left: 5px;
      font-size: 1.5rem;
    }
    button {
      color: white;
      font-size: large;
      border: 2px solid white;
      align-self: center;
      margin-left: auto;
      height: 2rem;
      width: 2rem;
      margin-right: 0.3rem;
      background-color: #374953;
      &:hover {
        color: black;
        border: 2px solid black;
        // background-color: #c8caca;
        background-color: #b7d0e0;
      }
    }
  }
}



.content {
  @include bghome(#b7d0e0, 18px, 0.8rem, black);
  display: flex;
  align-items: center;
  margin: 7px;
  border-radius: 10px;
  h3,
  h2,
  p {
    margin: 0px;
  }
  .cimg {
    margin-left: 10px;
  }
  .text {
    margin-left: 10px;
  }
}

// .content1{
//   @include bghome(#b7d0e0, 5px, 0.8rem, black);
//   display: flex;
//   align-items: center;
//   // justify-content: space-between;
//   margin: 7px;
//   border-radius: 10px;
//   .cimg{
//     margin-left: 0.7rem;
//     margin-right: 0.5rem;
//   }

// }

#removebtn {
    margin-left: auto;
    font-size: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    // margin-left: 0.5rem;
    // margin-right: 0.5rem;
    
    background-color: #b7d0e0;
    color: black;
    border: 2px solid black;
    &:hover {
      color: white;
      border: 2px solid white;
      background-color: #374953;
    }
}

.mainContent {
  overflow-y: auto;
}
