.main {
  margin: 1rem;
}

#h1 {
  text-align: center;
}
.info {
  height: 4rem;
  background-color: #374953;
  border-radius: 5px;
  padding: 5px;
  .infotacker {
    align-items: center;
    height: 3.35rem;
    input {
      width: 15rem;
      height: 1.7rem;
      border-radius: 5px;
      border: 1px solid black;
    }
    button {
      height: 1.7rem;
      border: 1px solid black;
      border-radius: 5px;
      width: 3.5rem;
    }
    display: flex;
    border-radius: 5px;
    border: 2px solid white;
    justify-content: space-between;
    padding: 10px;
    .getinfo {
      width: 70%;
      align-items: end;
      #start {
        color: white;
        background-color: #20b380;
      }
      #pause {
        color: white;
        background-color: #d23332;
      }
    }
    p {
      margin: 0px;
      position: relative;
      background: #ffffff;
      font-family: "Roboto mono", monospace;
      font-size: 25px;
      padding: 3px 10px 3px 10px;
      align-items: center;
      justify-content: space-around;
      border-radius: 5px;
      color: rgb(255, 0, 0);
    }
  }
}

#tablehead {
  #tdate,
  #tstime,
  #tetime,
  #twtime {
    width: 15%;
    text-align: center;
  }
}
.timedetails {
  table {
    margin: 0px;
    border: 0px;
  }

  tr {
    border: 1px solid #374953;
    border-radius: 5px;
  }
  #date,
  #stime,
  #etime,
  #wtime {
    width: 15%;
    text-align: center;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .info {
    .infotacker {
      input {
        width: 10rem;
        height: 1.4rem;
      }
      button {
        height: 1.4rem;
        width: 3.5rem;
      }

      p {
        margin: 0px;
        font-family: "Roboto mono", monospace;
        font-size: 12px;
        padding: 3px 10px 3px 10px;
        align-items: center;
        justify-content: space-around;
        border-radius: 5px;
        color: rgb(255, 0, 0);
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .info {
    height: 6rem;
    .infotacker {
      flex-direction: column;
      height: 5.2rem;
      input {
        width: 7rem;
        height: 1.4rem;
      }
      button {
        height: 1.4rem;
        width: 3.5rem;
      }

      p {
        margin: 0px;
        font-family: "Roboto mono", monospace;
        font-size: 12px;
        padding: 3px 10px 3px 10px;
        align-items: center;
        justify-content: space-around;
        border-radius: 5px;
        color: rgb(255, 0, 0);
      }
    }
  }
  thead{
    th{
      font-size: 0.7rem;
    }

  }
}
